<!DOCTYPE html>
<html>
<head>
	<title>Articles</title>
	<link rel="stylesheet" href="/static/staticc.css">
</head>
<body>
	<div class = "header">
	<a class = "hey" href="{% url 'home' %}"><h2 class="hi">ALg(O) Blog</h2></a>
	<nav>
		<ul>
			{%if user.is_authenticated%}
			<li >
				<form class = "logout-link" action = "{% url 'accounts:logout' %}" method = "post">
					{%csrf_token%}
					<button type = "submit"> <h3 class = "logout">Log Out</h3></button>
				</form>
			</li>
			<li><a href="{% url 'articles:create' %}" class = "highlight"><h3>Create Article</h3></a>
			</li>
			
			<li><a href="{% url 'articles:userArticles' %}" class = "highlight"><h3>Your Articles</h3></a>
			</li>

			{% else %}
			<li class = "lg"><a href="{% url 'accounts:login' %}"><h3>LogIn</h3></a></li>
			<li class = "sg"><a href="{% url 'accounts:signup' %}"><h3>Sighup</h3></a></li>
			{% endif %}
		</ul>
	</nav>
</div>
	{%block content%}
	{%endblock%}
</body>
</html>